In [21]:
import pandas as pd

In [22]:
f = pd.read_csv("dwbfgreyhoundwin05122022.csv")

In [23]:
f = f.iloc[:, :8]
f.drop(columns=["EVENT_ID", "SELECTION_ID"], inplace=True)

In [24]:
allowed_locs = ["AUS", "NZL"]
for t in enumerate(f.loc[:, "MENU_HINT"]):
    location = t[1].split(' / ')[0]
    if location not in allowed_locs:
        f.drop(t[0], inplace=True)

In [25]:
def get_date(event_dt):
    return event_dt.split()[0]

def get_track_loc(menu_hint):
    return menu_hint.split()[2]

def get_race_no(event_name):
    return int(event_name.split()[0][1:])

def get_dist(event_name):
    return int(event_name.split()[1][:-1])

def get_name(selection_name):
    return selection_name[3:]

In [26]:
f[["MENU_HINT", "EVENT_DT", "EVENT_NAME", "SELECTION_NAME"]] = f.transform({
    "MENU_HINT": get_track_loc, 
    "EVENT_DT": get_date, 
    "EVENT_NAME": get_race_no,
    "SELECTION_NAME": get_name
    })

In [27]:
f.rename(columns={
    "MENU_HINT": "track_loc",
    "EVENT_DT": "date",
    "EVENT_NAME": "race_no",
    "SELECTION_NAME": "dog_id"
}, inplace=True)

In [28]:
def find_race(result_df: pd.DataFrame, track_loc, date, race_no):
    return result_df.query(
        "track_loc == @track_loc \
        and date == @date \
        and race_no == @race_no"
    )

In [30]:
find_race(f, "Richmond", "04-12-2022", 6)

     track_loc  race_no        date          dog_id  WIN_LOSE        BSP
0     Richmond        6  04-12-2022   Solo Fernando         0   7.600000
241   Richmond        6  04-12-2022    Zoe Zoom Bug         1   8.800000
448   Richmond        6  04-12-2022      Lady Charm         0  56.570252
862   Richmond        6  04-12-2022   Night Buttons         0  13.989067
863   Richmond        6  04-12-2022       Blue Jean         0   2.180000
1081  Richmond        6  04-12-2022  Slingshot Xena         0  28.566038
1394  Richmond        6  04-12-2022    Zulu Sparrow         0  99.437723
1395  Richmond        6  04-12-2022  Towering Larry         0   6.600000